<%- include('../partials/headstart') %>

<%- include('../partials/titlestart') %>Blog<%- include('../partials/titleend') %>
<%- include('../partials/headend') %>

<%- include('../partials/headerstart') %>Hjem<%- include('../partials/headerend') %>

<main>
    <p>hello world!</p>
</main>

<%- include('../partials/afterfooter') %> 